
@font-face{
	font-family: 'OleoScriptSwashCaps-Regular';
	src: url('OleoScriptSwashCaps-Regular.ttf');
}
@font-face{
	font-family: 'OrelegaOne-Regular';
	src: url('OrelegaOne-Regular.ttf');
}


@font-face{
	font-family: 'LibreBodoni';
	src: url('LibreBodoni-VariableFont_wght.ttf');
}

@font-face{
	font-family: 'RobotoCondensed';
	src: url('RobotoCondensed-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*COLORS - basic colors, page alignment; HEADER, TITLES*/
body{ 
	background-color:#FFF0F5;
	background-color:white;
	background-color: #F3EEC3;
	background-color: #231F20;
	margin: 0% 2%;
	/*-webkit-font-smoothing: antialiased;*/
	/*text-rendering: optimizeLegibility;*/
  	text-align: center;
}

#PageWrapper{
	/*background-color:white;*/
	/*margin: 5%;*/
	margin-top:0%;
	height:90vh;
	/*border-color:;*/
	/*border:3px solid #B0D0D3;*/
	/*opacity:0.8;*/
}
#PageWrapper:hover{
	/*opacity:1;*/
}

header{
	/*position:relative;*/
	text-align:center;
	margin:0;
	margin-top:2%;
	padding:0;
	background-color: #A02222;
	border-bottom: 10px solid #231F20;
	opacity:0.9;
}

#HeadTitle{
	font-family: 'Karantina';
	font-family: 'OleoScriptSwashCaps-Regular', cursive;
	/*font-family: 'Playfair Display', serif;*/
	/*font-weight: 600;*/
	/*font-style:italic;*/
	font-size:80px;
	color:black;
	margin:0;
	padding:2%;
	text-shadow:3px 3px 1px white;

}

#HeadTitle:hover{
	color:#8AB0AB;
	/*color:#A02222;*/
	/*text-shadow-color:black;*/
	/*text-shadow:3px 3px 1px black;*/
}

/*NAVIGATION LINKS*/
.main{
	/*background-color:white;*/
	padding:0;
}
a.simple:hover{
	color:#8AB0AB;
	color:white;
	/*background:repeating-linear-gradient(90deg, black, black 5px, white 5px, white 10px);*/
}
a.simple {
  display:inline-block;
  text-decoration:none;
  /*color:#DCD348;*/
  color:black;
  font-family: "Segoe UI", 'Montserrat', sans-serif;
  font-family: "Bebas Neue";
  font-family: "Antonio";
  font-family: "Karantina";
  font-family: 'Source Sans Pro', sans-serif;
  font-family: "RobotoCondensed";
  text-transform: uppercase;
  font-size: 20px;
  /*font-weight:400;*/
  padding:0 5px 0 5px;
/*  padding: 10px;*/
  line-height: 100%;
  margin:0px 50px 10px 50px;
  /*height: 20px;*/
  overflow: hidden;
}
a.simple span{
  display: inline-block;
  position:relative;
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: transform 500ms;
  
}
a.simple span:after{
  content: attr(data-hover);
  position: absolute;
  top: -30px;
  left:0;
  transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
a.simple:hover span,
a.simple:focus span {
	transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  color:#8AB0AB;
  color:white;
}
a.active span{
	/*text-decoration: line-through white;*/
	/*color:white;*/
	
	/*border-radius:5px;*/
	color:#fc0;
	/*color:#8AB0AB;*/
	color:white;
	/*font-weight:600;*/
	background-color:black;
	text-shadow:0.5px 0.5px 1px black;
}

/*carousels*/

.car {
	display:inline-block;
}


#smallcarousels{
	margin-top:2%;
	padding:0;
	margin-left:0;
	margin-right:0;
}

#smallcarousels:hover{
	background-blend-mode: hard-light;
}
#movieCarousel{
	float:left;
	text-align:left;
	padding:10px;
	padding-left:0;
	margin-left:0;
	margin-right:0;
}
.car .carousel-item{
	opacity:0.7;
}

.car .carousel-item:hover{
	opacity:1;
}

.maincar:hover{
	cursor:pointer;
}

.carouselTitle{
	position:absolute;
	top:60%;
	/*display:block;*/
	/*left:43%;*/
	text-align:center;
	color:white;
	font-family:  'LibreBodoni', 'OrelegaOne-Regular', sans-serif;
	font-family: 'RobotoCondensed', sans-serif;
	font-family: 'OleoScriptSwashCaps-Regular', cursive;
	text-transform: lowercase;
	font-family: "RobotoCondensed";
  	text-transform: uppercase;
	font-size:50px;
	color:#8AB0AB;
	color:white;
	font-weight:800;
	/*color:#A02222;*/
	text-shadow:0.5px 0.5px 1px black;
	/*opacity:0.6;*/
	background-color:#231F20;
	/*background-blend-mode: hard-light;*/
}
.carouselTitle:hover{
	color:#8AB0AB;
	cursor:pointer;
	/*font-style:italic;*/
/*	background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, 0.1);*/
    /*text-transform: uppercase;*/
}

.smallCT{
	top:50%;
	font-size:20px;
}

.nonmaincar{
	display:inline-block;
	position:absolute;
	/*left:90%;*/
	float:right;
	height:5vh;
}
.smallCTtitle{
	font-size:20px;
	background-color: transparent;
	/*top:30%;*/
}
.nonmaincar div{
	padding:0;
	margin:0;
}

#musicCarousel{
	float:right;
	text-align:right;
	padding:10px;
	margin-left:0;
	padding-right:0;
	margin-right:0;
}
#bookCarousel{
	padding:10px;
	padding-left:5px;
	padding-right:5px;
	margin-left:0;
	margin-right:0;
}
.mainContent{
	margin-bottom:2%;
}
#textBest{
	color:white;
	font-family: 'Karantina', sans-serif;
	font-family: 'OleoScriptSwashCaps-Regular', cursive;
	margin-top:2%;
	font-size:30px;
	font-weight:100;
	margin-bottom:0;
}

/*ARTICLES*/

.oneArc {
	display: inline-block;
	/*height: 10vh;*/
	text-align: center;
	background-color:white;
	margin-bottom:2%;
	padding-top:1%;
	margin:1%;
	/*height: 50vh;*/
}
.arcTitle{
	text-align:center;
	/*margin-top:2%;*/
	font-family: "RobotoCondensed";
	/*font-family: 'OleoScriptSwashCaps-Regular', cursive;*/
	color: #A02222;
	/*text-shadow: 1px 1px 1px black;*/
  	text-transform: uppercase;
  	font-size:20px;

}

.arcImg{
	text-align:center;
	margin:0 auto;
	display:inline-block;
}
.arcImg:hover{
	opacity:0.8;
}

.arcGenre{
	text-align:center;
	/*margin-top:2%;*/
	font-family: "RobotoCondensed";
	text-transform:uppercase;
}

.image{
	text-align:center;
	display:block;
	margin:0 auto;
}
.summaryArc{
	font-family: "RobotoCondensed";
	/*font-family: 'OleoScriptSwashCaps-Regular', cursive;*/
  	/*text-transform: uppercase;*/
  	text-align: justify;
  	margin:1%;
  	/*margin-top:0;*/
  	margin-bottom:3%;
}

.oneArc img{
	padding:0;
	margin:0;
}

.oneArc:hover{
	cursor:pointer;
	opacity:0.8;
}

.mainArc {
	text-align:center;
	margin-top:0;
}

.mainArc:hover{
	opacity:1;
}

#PageWrapper {
	text-align:center;
}

.mainArc p.arcTitle{
	font-size: 50px;
}
#articleSec{
	margin-top:2%;
}

#PageWrapperYou{
	border-left: 5px white solid;
	border-right: 5px white solid;
	margin-top:0;
}
#PageWrapperYou section{
	/*float:right;*/
}
.uselessBorder{
	margin-left:2%;
	margin-right:2%;
	border-left: 5px white solid;
	border-right: 5px white solid;
	margin-top:0;
}

#recText{
	color:white;
	font-family: "RobotoCondensed";
	display:block;
	text-transform: uppercase;
	text-align:left;
	margin-left:10%;
}

#userStateOffline, #userStateOnline {
	left:85%;
	position:absolute;
	top:10%;
}
#userStateOffline a, #userStateOnline a{
	color: #C02323;
	color: red;
	color:black;
	/*font-style: italic;*/
	text-transform: uppercase;
	font-family: "Segoe UI";
	font-family: "RobotoCondensed";
}
#userStateOffline a:hover, #userStateOnline a:hover{
	color:black;
	font-style:normal;
	text-decoration: none;
}
#userStateOffline .offlineComment { display: none; }
#userStateOffline:hover .offlineTitle { display: none; }
#userStateOffline:hover .offlineComment { 
	display: inline-block; 
	left:85%;
}

#userStateOnline .onlineComment { display: none; }
#userStateOnline:hover .onlineTitle { display: none; }
#userStateOnline:hover .onlineComment { 
	display: inline-block; 
	left:85%;
}

.dontshow{
	position:fixed;
	visibility:hidden;
	display:none;
}

/*USER PAGE*/

 #beatle, .afterarctext{
 	color:#222;
 	color:white;
 	font-family: "Segoe UI","Lato",'Montserrat', sans-serif;
 	text-transform: uppercase;
 	/*text-shadow:grey 0.5px 0.5px;*/
 	 letter-spacing: 3px;
 	font-size:30px;
 	font-weight: 400;
 	margin-top:1%;
 	text-align: center;
}

.seethrough{
	opacity:0.4;
	color:white;
	/*font-style: italic;*/
	font-family: "Segoe UI", sans-serif;

}

#offlineUser{
	margin:5% auto;
}



#saveButton{
	float:right;
	width:10%;
}


.right1{
	float:right;
	/*bottom:1%;*/
}

#registerForm, #loginForm{
  /*border-radius: 5px;*/
  background-color: #f2f2f2;
  display:inline-block;
  text-align: left;
  font-family:'Bebas Neue';
  font-family: "RobotoCondensed";
  font-size:18px;
  /*top:10%;*/
  margin:0 auto;
  padding:1%;
  /*padding: 20px;*/
}


#registerForm label{
	margin:0 auto;
	margin-top:2%;
}
#loginForm label{
	margin:0 auto;
}
#registerButton, #loginButton{
	margin:1% auto;
}

#PageWrapperYou{
	min-height: 65vh;
}

#embed{
	color:white;
}

/*Rating buttons*/

#rating {
	color:white;
	font-family: "Segoe UI","Lato",'Montserrat', sans-serif;
	font-family: "RobotoCondensed";
}

.fa-solid {
	color:white;
	font-size:50px;
	margin-left:1%;
	margin-right:1%;
	color:#A02222;
	opacity:0.7;
	/*font-style: 'Verdana';*/
}
.fa-solid:hover{
	cursor:pointer;
	opacity:0.9;
}

.moodbuttn {
	display:inline-block;
	/*margin:2%;*/
	text-transform: uppercase;
	margin-left:1%;
	margin-right:1%;
	margin-top:0;
	font-size:20px;
	color:#A02222;
	opacity:0.7;
}

.moodbuttn:hover {
	cursor: pointer;
	opacity:0.9;
}

#rating p{
	margin-bottom:0;
	display: block;
	text-align: center;
	font-family: "Segoe UI","Lato",'Montserrat', sans-serif;
	font-family: "RobotoCondensed";
}

#smallerComm {
	opacity:0.8;
}

.itsBeenClicked {
	/*color:;*/
	opacity:1;
}

.itsBeenClicked:hover{
	cursor: default;
	opacity:1;
}

.itHasntBeenClicked {
	opacity:0.4;
}

.itHasntBeenClicked:hover{
	cursor:default;
	opacity:0.4;
}


/*search bar*/
.box{
    position: absolute;
    top: 10%;
    left: 80%;
    /*transform: translate(-50%,-50%);*/
    z-index: 100;
    border-color:#A02222;
    border:0;
    outline: 0;
    background-color:;
}

form {
	border:0;
	outline: 0;
}

input {
	border:0;
	outline: 0;
	color:#A02222;
}

#searchWord {
	color:#A02222;
	background-color: #A02222;
}
#searchWord:hover {
	color:white;
}
.input #searchWord{
    padding: 10px;
    /*width: 50px;*/
    height: 50px;
    /*background: none;*/
    border: 4px solid #A02222;
    border-radius: 50px;
    border:none;
    /*box-sizing: border-box;*/
    /*font-family: Comic Sans MS;*/
    font-family: "RobotoCondensed";
    font-size: 20px;
    color: #ffd52d;
    /*outline: none;*/
    transition: .5s;
    border:0;
    outline: 0;
}
.box:hover #searchWord{
    /*width: 250px;*/
    /*background: #272133;*/
    background-color: #231F20;
    color:white;
    /*border:transparent;*/
    border-color:#A02222;
    border-radius: 10px;
    border:0;
    outline: 0;
}
#smallSearchButton{
    position: absolute;
    /*border: none;*/
    border: solid 2px;
    padding: 2%;
    border-radius: 500px;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 25px;
    /*color: #ffd52d;*/
    /*text-shadow: 2px 2px 2px white;*/
    color: #231F20;
    color:black;
    transition: .2s;

}

#bigSearchButton{
	/*position: absolute;*/
    /*border: none;*/
    float:right;
    /*border: solid 2px;*/
    /*padding: 1%;*/
    /*border-radius: 500px;*/
    /*top:40%;*/
    padding:1%;
    /*top: 50%;
    right: 15px;*/
    /*transform: translate(-50%,-50%);*/
    font-size: 30px;
    /*margin:0;*/
    /*color: #ffd52d;*/
    /*text-shadow: 2px 2px 2px white;*/
    color: #231F20;
    color:black;
    transition: .2s;
}
.box:hover #smallSearchButton{
	color:white;
    /*opacity: 0;*/
    /*z-index: -1;*/
}

#biggerSearch {
	background-color:white;
	color:black;
	border-color:none;
	z-index: 100;
	height:50px;
	padding:0%;
	margin:2% auto;
	text-align:center;
	border-radius: 50px;

}
.searchsec {
	text-align:center;
}

#biggerSearch:hover{
	background-color:white;
	color:black;
	border-color:none;
	position: static;
	/*margin:2%;*/
}

#biggerSearch #searchWord1{
	/*padding:1%;*/
	padding:0;
	font-size:30px;
	margin:auto;
	text-align:left;
	font-family: "RobotoCondensed";
}

#biggerSearch:hover input{

}


#bigSearchButton:hover, #smallSearchButton:hover{
	cursor:pointer;
}

p.smallersec{
	text-align:center;
	display: flex;
  	justify-content: space-around;
   	text-align: justify;
  	text-justify: inter-word;
  	margin:0 auto;
  	font-size:100%;
  	color:white;
  	font-family: "Segoe UI", sans-serif;
}
#sign{
	opacity:0.6;
	font-weight:700;
	color:white;
	font-style:italic;
	/*text-shadow: grey 1px 1px;*/
	font-size:100%;
	float:right;
	display:block;
	font-family: "Oswald","Segoe UI", sans-serif;
	margin:2px 32%;
}

#contacts{
	font-size:30px;
	margin:0 auto;
	text-align:center;
}
#contacts a{
	margin:1%;
	color:#C02323;
	color:#fc0;
	color:#A02222;
	/*text-shadow:0.5px 1px 2px gray;*/
}
#contacts a:hover{
	text-decoration: none;
	color:#A02222;
	font-size:32px;
}
