<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Beetlebum Movie News</title>
	<link rel="icon" type="image/png" href=""/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/a6fa590169.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style0.css">

</head>
<body onload="searchForArticles('movie')">
	<header id="MainHeader"><h1 id="HeadTitle">Beetlebum News</h1>

		<nav class="main items">
			<a class="simple" href="index.html"><span data-hover="Home">Home</a>
			<a class="simple active" href="articles.html" ><span data-hover="Articles">Articles</span></a>
			<a class="simple" href="popular.html"><span data-hover="Most Read">Most Read</span></a>
			<a class="simple" href="random.html"><span data-hover="Random">Random</span></a>
			<a class="simple" href="about.html"><span data-hover="About">About</span></a></nav>
	<div class="box col-2">
            <input id="searchWord" type="text" class="input" name="txt" >
            <i id="smallSearchButton" class="fas fa-search" onclick="getValueSearch(1)"></i>
         </div>
		</header>

	<section class="searchsec">
	<div id="biggerSearch" class="col-9 dontshow">
            <input id="searchWord1" type="text" class="input" name="txt">
            <i id="bigSearchButton" class="fas fa-search" onclick="getValueSearch(2)"></i>
		</div>
	</section>
	<div id="searching" class="dontshow">
		<div id="foundNothing" class=afterarctext>Unfortunately we found nothing</div>
		<div id="activeArticle1"></div>
		<div id = "gallery1"></div>
		<div class = "loader"></div>
	</div>
	<<div id="PageWrapper">
		<div id="smallCarousels">
	
		<div id="bookCarousel" class="car col-2"><div id="carouselExampleIndicators2" class="carousel slide hi" data-ride="carousel" onclick="transitionToPage('movies.html')">
					  
					  <div class="carousel-inner">
					    <div class="carousel-item active" >
					    	<!-- <p class="pictext">movie of the week</p> -->
					      <img class="d-block w-100" src="../static/img/an-american-in-paris1.jpg" alt="An American in Paris" title="An American in Paris">
					      
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../static/img/cabinet-of-dr-caligari1.jpg" alt="Cabinet of Dr Caligari" title="Cabinet of Dr Caligari">
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100" src="../static/img/twilight-of-the-ice-nymphs1.jpg" alt="Twilight of the Ice Nymphs" title="Twilight of the Ice Nymphs">
					    </div>
	
					  </div>
					 <div class="carouselTitle smallCT col-12">Movies</div>
					</div></div>
		<div class="nonmaincar col-2">
		<div id="musicCarousel" class="car col-6" onclick="transitionToPage('music.html')">
				<div class="carouselTitle smallCTtitle col-12">Music</div>
					<!-- </div> --></div>
		<div id="movieCarousel" class="car col-6" onclick="transitionToPage('books.html')">

					<div class="carouselTitle smallCTtitle col-12">Books</div>
					<!-- </div> --></div>
			</div>
	</div>	

		<section id="articleSec">
			<!-- <div id="rating"> 
				<p>Tell us what you think about this article:</p>
				<i id="thumbsUp" class="fa-solid fa-thumbs-up" onclick="likeArticle()"></i>
				<i id="thumbsDown" class="fa-solid fa-thumbs-down fa-flip-horizontal" onclick="dislikeArticle()"></i>
				<p>This article made you:</p>
				<div id="happy" onclick="happyArticle()" class="moodbuttn">Feel Good</div> <div id="think" onclick="thinkArticle()" class="moodbuttn">Think Deeper</div>
				<p id="smallerComm">(you can select both if apply)</p></div> -->
			<div id="activeArticle"></div>
			<div id = "gallery"></div>
		</section>

	</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	
	<script src="../static/js/script.js"></script>
</body>
</html>